/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
    --white: #F1F1F1;
    --black: #1E1E1E;
}

body {
    background-color: var(--white);
}
* {
    color: var(--black);
}
*::selection {
    background-color: var(--black);
    color: var(--white);
}

code {
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
}

pre code {
  white-space: inherit;
}

pre {
  background-color: var(--black);
  padding: 5px;
  border-radius: 0.3em;
}